# --- Python & Environment ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv/
*.egg-info/

# --- Data & Models ---
# Ignore actual data, but keep the folder structure if needed using .gitkeep

data/raw/*
data/processed/*
!data/.gitkeep
!data/processed/.gitkeep

# Ignore large model checkpoints
*.ckpt
*.pth
*.pt

# --- Logging & Artifacts ---
# Hydra output
outputs/
multirun/

# PyTorch Lightning
lightning_logs/
logs/

# WandB (Weights & Biases)
wandb/

# --- IDE & System ---
.vscode/
.idea/
.DS_Store
*.swp

# --- Jupyter ---
.ipynb_checkpoints/